<section>
    <div class="section-wrapper">
        <ul>
            <% @mentees.each do |mentee| %>
                <li><%= "#{mentee.first_name} #{mentee.last_name}"%></li>
            <% end %>
        </ul>
    </div>
</section>
