body
{
  overflow-x: hidden;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  position: absolute;
  margin: 0px; 
  //height: 100%;
  min-height: 100%;
  background-color: #efefeb;
  color: #343;
  width: 100%;
  min-width: 300px;
}

a {
   color: #591;
   text-decoration: none;
   display: inline-block;

   .logo-text
   {
      color: #343;
   }
}

h2 {
    display: none;
    white-space: nowrap;
}

.green{
  color: #8dc63f; 
}

.login-bar
{
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;

  .bar-container{
    margin: auto;
    position: relative;
    .logo-small img{
      left: 0;
      vertical-align: middle;
      margin: -2px 5px;
    }
    .logo-text{
      vertical-align: middle;
      margin: 0px 2px;   
    }
    .user-links{
      right: 0;
      text-align: right;
      margin-right: 10px;
       
      img{
        vertical-align: middle;
      }

      a{
        margin-top: 6px;
        font-size: 14px;
      }

      .welcome-message{
        position: absolute;
        right: 150px;
        font-size: 14px;
        font-weight: 300;
        color: #666;
        margin-top: 8px;
        white-space: nowrap;
      }

    }
    .logo-small, .user-links{
      width: 50%;
      top: 4px;
      position: absolute;  
    }
    .logo-small {
      width: 240px;
    }
  }
  a
  {
    color: #aaa;
  }

  a:hover
  {
    color: #591;
  }
}

.content{
  margin-top: 35px;  
  //height: 100%;
}

.page-wrapper{
  position: relative;
}

.logo-container {
  text-align: center;    

    .logo-image {
      background-repeat: no-repeat; 
      margin: auto;
    }

    .logo-text {
      font-size: 25px;
    }
}

.middle-section{
    margin:auto;
    width: 60%;
    min-width: 650px;
    .row{
        display: table-row;    
    }
    .middle-text{
        display: table-cell;
        width: 70%;
        vertical-align: middle;   
        p{
            text-align: justify;
        }
    }
}

.sign-up{
    display: table-cell;
    width: 30%;
    padding-left: 50px;
    vertical-align: middle;
    text-align: center;
    .sign-up-button{
        margin: auto;
        background-image: image-url('icons.png');
        width: 80px;
        height: 80px;
        border: solid 10px #9c3;
        background-position: -8px;
        border-radius: 100px;
    }
    .sign-up-label{
        white-space: nowrap;
        font-size: 24px;
        font-weight: 400;
    }
    
    *{
        display: block;
        color: #333;
    }

    .green{
        font-size: 14px;
        color: #591;
    }
}

.nav-container {
    width: 60%;
    min-width: 650px;
    //margin: 20px auto 0px;
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;

    .nav-item {
        float: left;
        width: 25%;
        text-align: center;

        .label {
            color: #333;
            font-size: 20px;
        }

        .past {
            background-position: -111px -14px;
        }

        .participants {
            background-position: -311px -12px;
        }

        .mentor {
            background-position: -209px -13px;
        }

        .info {
            background-position: -408px -11px;
        }

    }
}

.nav-container:after {
    display: block;
    clear: both;
    content: "";
}

.lower-container{
  min-height: 66px;
}

footer .container
{
  clear: both;
  color: #666;
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  background-color: #efefef;
  width: 100%;
  padding: 15px 20px;
  
  .contact {
     font-size: 14px;
     font-weight: 400;
  }
}

@media all and(min-height: 400px),
       all and (max-width: 640px),
       all and (max-device-width: 640px){
  .logo-image{
      background-image: image-url('logo.png');
      background-size: contain;
      width: 100px;
      height: 91px;
  }
}

@media all and (min-height: 400px) and (min-width: 641px) and (min-device-width: 614px){

  section:first-of-type{
    height: 30%;
    .logo-container{
      height: 100%;
      a{
        height: 100%;
        .logo-image{
          height: 80%;
        }
      }
    }
  }

  h2 {
      font-size: 20px;
      display: block;
  }
}

@media all and (min-height: 680px)
           and (min-width: 641px)
           and (min-device-width: 641px){

  section:first-of-type{
    height: initial;
    .logo-container{
      height: initial;
      a{
        height: initial;
        .logo-image{
            width: 203px;
            height: 185px;
        }
      }
    }
  }

  h2{
      font-size: 40px;    
  }



  .nav-container{
    
    .nav-item{
      .button {
      margin: 3px auto 10px;
      background-image: image-url('icons.png');
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      border: solid 8px #9c2;
      border-radius: 50%;
      }
    }
  }
}

/*
* device-width for most cellphones is 320px,
* so one should include the max-device-width property
* for that screen size.
*/
@media all and (max-width: 640px), all and (max-device-width: 640px){
  h2{
    display: block;
    text-align: center;
  }

  .middle-section{
    min-width: initial; 
    width: 100%;
    .row{
      display: block;

      .middle-text{
        display: block;
        width: 100%;
        p{
          display: none;
        }
      }

      .sign-up{
        display: block;
        width: initial;
        padding: 0;
      }
    }
  }

  .nav-container{
    min-width: initial;
    width: 100%;
  }

  .nav-container{
    
    .nav-item{
      .label{
        white-space: nowrap;
      }
      .button {
      margin: 3px auto 10px;
      background-image: image-url('icons.png');
      background-size: 415px;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      border: solid 5px #9c2;
      border-radius: 50%;
      }
      .past{
        background-position: -96px -14px; 
      }
      .mentor {
          background-position: -177px -13px;
      }
      .participants {
          background-position: -262px -12px;
      }
      .info {
          background-position: -343px -11px;
      }
    }
  }
}

@media all and (max-width: 480px), all and (max-device-width: 480px){

  .sign-up{
    .deadline, .green{
      display: none;
    }
  }

  .nav-container{
    bottom: 2px;
    margin-bottom: 0px;
    .nav-item{
      .label{
        display: none;
      }
    }
  }
}

